/*****COMMON CSS SECTION*****/
* {
    margin: 0px;
    padding: 0px;
}

.coloring {
    background-color: #2ecc71;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

html,
body {
    font-family: 'Roboto', sans-serif, arial;
    font-size: 15px;
    /* background: linear-gradient(to bottom, #3498db, #2980b9, #34495e);  */
    /* background: #fff; */
    background: linear-gradient(to bottom, #FF512F, #F09819);
    /* background-image: url(images/work.jpg); */


    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 1170px;
    margin: 0px auto;
    transform: translateZ(30px);
}

.width-25 .company-list:hover {
    perspective: 1000px;
    transform: translateZ(30px);
    background-color: #e0e0e0;
}

.container .skill-list:hover {
    perspective: 1000px;
    transform: translateZ(50px);
    background-color: #e0e0e0;
}

.width-100 .recent-job-list:hover {
    perspective: 1000px;
    transform: translateZ(30px);
    background-color: #e0e0e0;
}

.width-100 {
    width: 100%;
    float: left;
    transform: translateZ(30px);
}

.recent-job-list {
    transform: translateZ(30px);
}

.width-66 {
    width: 66%;
    float: left;
}

.width-50 {
    float: left;
    width: 50%;
}

.width-50:hover {
    perspective: 1000px;
    transform: translateZ(50px);
}

.width-75 {
    width: 75%;
    float: left;
}

.width-33 {
    width: 33%;
    float: left;
}

.width-25 {
    width: 25%;
    float: left;
}

/*****HEADER SECTION*****/
.header {
    padding-top: 20px;
    padding-bottom: 60px;
}

.container header {
    /* /*background: linear-gradient(to bottom, #3498db, #2980b9); */
    background: #fff;
}

.header-menu {

    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    overflow: hidden;
    /* background-color: #333; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 5px;
    transition: text-decoration 0.3s;
}

.header-menu a.active {
    background-color: white;
    color: #333;
}

.header-menu li a:hover {
    text-decoration: underline;
    color: #fff;
}

.header-menu li {
    float: left;
    font-size: 15px;
    font-weight: 600;
}

.header-menu a {
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
}


.button-job-post button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 3px 3px 6px #c5c5c5,
        22px #ffffff;
}

.button-job-post button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-job-post button:hover::before {
    width: 9em;
}

.button-resume button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 3px 3px 6px #c5c5c5,
        22px #ffffff;
}

.button-resume button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-resume button:hover::before {
    width: 9em;
}

/*****BANNER SECTION*****/
.banner-section {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 350px;
    position: relative;
    width: 100%;
}

.banner-heading {
    font-size: 40px;
    /* color: white; */
    color: #333;
    padding-top: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}

.banner-para {
    font-size: 19px;
    color: #666;
    padding-top: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Helvetica', sans-serif;
    font-style: italic;
    font-weight: normal;


}

.search-sect {
    margin-top: 40px;
    width: 25%;
    float: left;
    position: relative;
}

.search-textbox {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-top: none;
    border-bottom: none;
    border-color: #d9d9d9;
    border-right: none;
    border-width: 1px;
}

/* .search-button { 
    width: 100%;
    height: 40px;
    background-color: #e34216;
    border: none;
    color: white;
} */

.search-sect .icons {
    position: absolute;
    top: 12px;
    right: 10px
}

.btn {
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}

/*****SKILL SECTION SKILL SECTION SKILL SECTION*****/
.skill-section {
    background-color: #00000008;
    padding-top: 40px;
    padding-bottom: 40px;
}

.skill-list {
    background-color: white;
    width: 23%;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}

.skill-list img {
    width: 80px;
    height: 90px;
    border-radius: 100px;
}

.skill-list h4 {
    font-size: 16px;
    color: #313538;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px
}

.view-button {
    width: 45%;
    height: 20px;
    border-radius: 20px;
    border: none;
    background-color: #e34216;
    color: white;
    font-size: 11px;
    padding-left: 5px;
    margin-top: 15px;
}

/*****RECENT JOB SECTION RECENT JOB SECTION*****/
.recent-job {
    padding-top: 50px;
    background-color: #f0f3fa;
    padding-bottom: 60px;
}

.recent-job-heading {
    text-align: center;
    /* color: #343a40;
     */
    color: #333;
    /* background-color: #e0e0e0; */
    font-weight: bold;
    font-style: italic;



}

.recent-job-heading:hover {
    text-decoration: none;
}

.recent-job-sub-heading {
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #666;
    text-decoration: none;
}

.recent-job-list {
    float: left;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.job-title {
    font-size: 20px;
}

.job-company {
    margin-top: 10px;
    margin-bottom: 20px;
}

.job-company i {
    color: orange;
    margin-left: 10px;
}

.job-skill {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.job-apply-button {
    background: blue;
    padding: 10px;
    color: white;
    text-decoration: none;
    float: right;
}

/*****TOP COMPANY SECTION*****/
.top-company {
    padding-top: 50px;
    background-color: #f9f9f9;
    padding-bottom: 60px;
}

.top-company-heading {
    text-align: center;
    color: #343a40;
}

.top-company-sub-heading {
    text-align: center;
    margin-bottom: 30px;
}

.company-list {
    float: left;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #e9e9e9;
}

.company-image img {
    width: 100%;
    height: auto;
}

.company-name {
    color: #343a40;
    font-size: 16px;
}

.company-rating i {
    padding-left: 1px;
    color: #f4dc1f;
}

.company-address {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #686868;
}

.company-opening {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #686868;
}

/******FOOTER SECTION******/
.footer-list {
    list-style: none;
    line-height: 35px;
    padding-top: 20px;
}

.footer-background {
    background-color: #222328;
    padding-top: 60px;
    padding-bottom: 80px;
    color: rgba(255, 255, 255, .86);
}

.get-in-touch {
    list-style: none;
    line-height: 15px;
    padding-top: 20px
}

.get-in-touch img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 8px;
    float: left;
    padding-top: 20px
}

.get-in-touch i {
    float: left;
    color: #eb372a;
    font-size: 16px;
    line-height: 15px;
}

.get-in-touch p {
    padding-left: 30px;
    color: rgba(255, 255, 255, .86);
    margin-top: 20px
}

/* .get-in-touch img:hover { */
/* background-color: #2196F3; */
/* } */

/******FOOTER SECTION******/